* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .first{
    width: 100%;
    height: 100%;
}

.first-header, .first-aside-header {
    width: 100%;
    height: 10%;
    display: flex;
}
.first-aside-header {
    width: 20%;
}
.first-header-checkbtn, .first-aside-checkbtn {
    font-size: 30px;
    padding: 14px;
    cursor: pointer;
    margin-left: 20px;
}
#first-header-check, #first-aside-check {
    display: none;
}
.first-aside {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #fff;
    left: -20%;
    transition: all .2s ;
}
#first-header-check:checked ~div {
    left: 0;
}
#first-header-check:checked ~a {
    position: relative;
    z-index: 100;
    transition: all .2s;
    left: 0;
}
#first-header-check:not(:checked) ~a {
    left: -20%;
}
#first-header-check:not(:checked) .first-aside {
    left: -20%;
}
.first-header-image {
    height: 92%;
    padding: 8px;
}
.first-header-image>img {
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 90%;
}